.contact-form {
    padding: 20px;
  
}


#response{
    color: green;
    text-align: center;
    font-size: larger;

}

#submit:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px green;
}

.contact {
    padding: 20px;
}