.profilePic {
    border-radius: 50%;
    border: 5px solid #6559cc;
    padding: 3px;
}

.link {
    text-decoration: none;
}

#cta {
    background-image: linear-gradient(to right, #f06548,#f06548)
    }

